name: 'Build Test Lint'
run-name: Build Test Lint of ${{ github.ref_name }} by @${{ github.actor }}
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  build:
    uses: scientist-softserv/actions/.github/workflows/build.yaml@v0.0.18
    secrets: inherit
    with:
      platforms: 'linux/amd64'
      webTarget: hyku-web
      workerTarget: hyku-worker

  test:
    needs: build
    uses: scientist-softserv/actions/.github/workflows/test.yaml@v0.0.18
    with:
      confdir: '/app/samvera/hyrax-webapp/solr/conf'
      webTarget: hyku-web
      workerTarget: hyku-worker
      rspec_cmd: "cd .. && gem install semaphore_test_boosters && bundle && rspec_booster --job $CI_NODE_INDEX/$CI_NODE_TOTAL"

  lint:
    needs: build
    uses: scientist-softserv/actions/.github/workflows/lint.yaml@v0.0.18
    with:
      webTarget: hyku-web
      workerTarget: hyku-worker
      rubocop_cmd: "cd .. && bundle && bundle exec rubocop --parallel --format progress"
